# Archivos de entorno y configuraciones secretas
*.env
local_settings.py

# Archivos de base de datos
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.pyc

# Carpetas del entorno virtual
/env/
/sistema_reportes/Lib/
/sistema_reportes/Scripts/
/sistema_reportes/include/
/sistema_reportes/pyvenv.cfg

# Archivos de PyCharm
.idea/

# Archivos de sistema
.DS_Store

# Archivos comprimidos
*.zip